<header>
  <nav>
    <p><%= link_to "Home", root_path %></p>
    <p><%= link_to "Books", books_path %></p>
  </nav>

  <section class="toggle">
    <h2>Sort Books By:</h2>
    <form class=".sort-form" action="/books" method="get">
      <input id="sort-button" type="submit" name="sort" value="Best Average Rating">
    </form>
    <form class=".sort-form" action="/books" method="get">
      <input id="sort-button" type="submit" name="sort" value="Worst Average Rating">
    </form>
    <form class=".sort-form" action="/books" method="get">
      <input id="sort-button" type="submit" name="sort" value="Most Pages">
    </form>
    <form class="sort-form" action="/books" method="get">
      <input id="sort-button" type="submit" name="sort" value="Fewest Pages">
    </form>
    <form class="sort-form" action="/books" method="get">
      <input id="sort-button" type="submit" name="sort" value="Most Reviews">
    </form>
    <form class="sort-form" action="/books" method="get">
      <input id="sort-button" type="submit" name="sort" value="Fewest Reviews">
    </form>

    <%= link_to "Add Book", new_book_path, {id: "add-book"} %>
  </section>

<section class="statistics">
  <div class="highest-rated">
    <h2>Highest-rated Books</h2>
    <% @top_3.each do |book| %>
      <div class="book-snippet">
        <h3><%= link_to book.title, book_path(book) %></h3>
        <p>Average rating: <%= book.avg_rating %></p>
      </div>
    <% end %>
  </div>

  <div class="lowest-rated">
    <h2>Lowest-rated Books</h2>
    <% @bottom_3.each do |book| %>
      <div class="book-snippet">
        <h3><%= link_to book.title, book_path(book) %></h3>
        <p>Average rating: <%= book.avg_rating %></p>
      </div>
    <% end %>
    <!-- <div class="book-snippet"> -->
      <!-- this should have the title and rating  -->
    <!-- </div>
    <div class="book-snippet"> -->
      <!-- this should have the title and rating  -->
    <!-- </div>
    <div class="book-snippet"> -->
      <!-- this should have the title and rating  -->
    <!-- </div> -->
  </div>

  <div class="top-reviewers">
    <h2>Top Reviewers</h2>
    <% @reviewers.each do |reviewer| %>
      <div class="user-snippet">
        <h3><%= link_to reviewer.username, review_path(reviewer.username) %></h3>
        <p>Total Reviews: <%= reviewer.review_count %></p>
      </div>
    <% end %>
    <!-- <div class="user-snippet"> -->
      <!-- this should have username and number of ratings  -->
    <!-- </div> -->
    <!-- <div class="user-snippet"> -->
      <!-- this should have username and number of ratings  -->
    <!-- </div> -->
    <!-- <div class="user-snippet"> -->
      <!-- this should have username and number of ratings  -->
    <!-- </div> -->
  </div>
</section>
</header>

<div class="books-container">

  <% @books.each do |book| %>
    <div class="book-card">
      <h3><%=  link_to book.title, book_path(book) %></h3>
      <img src=<%= book.cover_image %> class="book-cover" alt="cover of <%= book.title %>">
      <div class="basic-info">
        <p>Author(s): <% book.authors.each do |author| %>
          <!--! link_to author.name, author_path(author) -->
          <%= link_to author.name, author_path(author) %>
          <br>
        <% end %></p>
        <p>Publication year: <%= book.publication_year %></p>
        <p>Pages: <%= book.pages %></p>
      </div>
      <div class="review-info">
        <p>Total Reviews: <%= book.reviews.count %></p>
          <p>Average Rating: <%= book.avg_rating %></p>
      </div>
    </div>
    <br>
  <% end %>
</div>
