<header>
  <nav>
    <p><%= link_to "Home", root_path %></p>
    <p><%= link_to "Books", books_path %></p>
  </nav>
</header>

<div class="new-form">
  <%= form_for @book do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :authors %>
    <%= text_field_tag :authors %>

    <%= f.label :publication_year %>
    <%= f.number_field :publication_year %>

    <%= f.label :pages %>
    <%= f.number_field :pages %>

    <%= f.submit %>
  <% end %>
</div>
