<header>
  <nav>
    <p><%= link_to "Home", root_path %></p>
    <p><%= link_to "Books", books_path %></p>
  </nav>

  <section class="toggle">
    <%= link_to 'Delete', book_path(@book.id), method: :delete %>
    <%= link_to 'Add Review', new_book_review_path(@book.id) %>
  </section>

  <div class="error">
    <p><%= @error %></p>
  </div>


<section class='statistics'>

  <div class='highest-rated'>
    <h2> Top Reviews: </h2>
      <% @top_three_reviews.each do |review| %>
      <div class='book-snippet'>
        <h3>Review Title: <%= review.title %></h3>
        <p>Rating: <%= review.rating %></p>
        <p>User: <%= link_to review.username, review_path(review.username) %></p>
      </div>
      <% end %>
  </div>

  <div class='lowest-rated'>
    <h2> Negative Reviews: </h2>
      <% @worst_three_reviews.each do |review| %>
      <div class='book-snippet'>
        <h3>Review Title: <%= review.title %></h3>
        <p>Rating: <%= review.rating %></p>
        <p>User: <%= link_to review.username, review_path(review.username) %></p>
      </div>
      <% end %>
  </div>

  <div class='top-reviewers'>
      <% if @average_review_rating %>
        <h2>Average Review Rating: <%= @average_review_rating.round(2) %></h2>
        <br/>
      <% end %>
    </div>
</section>
</header>

<div class="books-container">

  <div class="book-card">
    <h3>Title: <%= @book.title %></h3>
    <img src=<%= @book.cover_image %> class="book-cover" alt="cover of <%= @book.title %>">
    <div class='basic-info'>
      <p>Author(s): </p>
        <% @authors.each do |author| %>
        <p><%= link_to author.name, author_path(author) %></p>
        <% end %>
      <p>Publication Year: <%= @book.publication_year %></p>
      <p>Page Count: <%= @book.pages %></p
      <br>
    </div>
  </div>

  <% @reviews.each do |review| %>
  <div class='review-card'>
    <h3>Review Title: <%= review.title %></h3>
    <div class="basic-info">
    <p>Reviewer: <%=  link_to review.username, review_path(review.username) %></p>
    <p>Rating: <%= review.rating %></p>
    </div>
    <div class="review-info">
      <p>Review: <%= review.review_text %></p>
    </div>
    <br>
  </div>
  <% end %>
</div>
