<header>
  <nav>
    <p><%= link_to "Home", root_path %></p>
    <p><%= link_to "Books", books_path %></p>
  </nav>

  <section class="toggle">
    <%= link_to 'Delete', book_path(@book.id), method: :delete %>
    <%= link_to 'Add Review', new_book_review_path(@book.id) %>
  </section>
</header>


<h2> Top Reviews: </h2>
<ul>
  <% @top_three_reviews.each do |review| %>
    <li>Review Title: <%= review.title %></li>
    <li>Rating: <%= review.rating %></li>
    <li>User: <%= link_to review.username, review_path(review.username) %></li>
    <br/>
  <% end %>
</ul>

<h2> Negative Reviews: </h2>

<ul>
  <% @worst_three_reviews.each do |review| %>
    <li>Review Title: <%= review.title %></li>
    <li>Rating: <%= review.rating %></li>
    <li>User: <%= link_to review.username, review_path(review.username) %></li>
    <br/>
  <% end %>
</ul>
<% if @average_review_rating %>
  <h2>Average Review Rating: <%= @average_review_rating.round(2) %></h2>
  <br/>
<% end %>


<ul>
  <li>Title: <%= @book.title %></li>
  <li>Author(s): </li>
    <% @authors.each do |author| %>
    <li><%= link_to author.name, author_path(author) %></li>
    <% end %>
  <li>Publication Year: <%= @book.publication_year %></li>
  <li>Page Count: <%= @book.pages %></li>
  <br/>
</ul>
<div class="book-image">
  <img src="<%= @book.cover_image %>" alt="cover of <%= @book.title %>">
</div>

<% @reviews.each do |review| %>
  <ul>
    <li>Review Title: <%= review.title %></li>
    <li><%=  link_to review.username, review_path(review.username) %></li>
    <li>Rating: <%= review.rating %></li>
    <li>Review: <%= review.review_text %></li>
    <br/>
  </ul>
<% end %>
