<%= link_to 'Delete', book_path(@book.id), method: :delete %>


<ul>
  <li>Top Reviews: </li>
  <% @top_three_reviews.each do |review| %>
    <li>Review Title: <%= review.title %></li>
    <li>Rating: <%= review.rating %></li>
    <li>User: <%= review.username %></li>
  <% end %>
</ul>

<ul>
  <li>Negative Reviews: </li>
  <% @worst_three_reviews.each do |review| %>
    <li>Review Title: <%= review.title %></li>
    <li>Rating: <%= review.rating %></li>
    <li>User: <%= review.username %></li>
  <% end %>
</ul>

<ul>
  <li>Average Review Rating: <%= @average_review_rating %></li>
</ul>



<ul>
  <li>Title: <%= @book.title %></li>
  <li>Author(s): </li>
    <% @authors.each do |author| %>
    <li><%= author.name %></li>
    <% end %>
  <li>Publication Year: <%= @book.publication_year %></li>
  <li>Page Count: <%= @book.pages %></li>
</ul>

<% @reviews.each do |review| %>
  <ul>
    <li>Review Title: <%= review.title %></li>
    <li>Username: <%= review.username %></li>
    <li>Rating: <%= review.rating %></li>
    <li>Review: <%= review.review_text %></li>
  </ul>
<% end %>
